html {
    font-size: 10px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

h1 {
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
}

#description {
    margin: 0 0 30px 0;
}

h2 {
    font-size: 2.2rem;
}

#main {
    margin: 30px 30px;
    padding: 15px;
    border-radius: 20px;
    background: #eee;
}

#img-div {
    padding: 10px;
    /* align-items: center; */
    /* background-color: white; */
}

#image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

#img-caption {
    margin: 10px 0 0 0;
}

#headline {
    margin: 20px 0 20px 0;
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0px auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px auto 16px 110px;
}

a {
    color: rgb(65, 116, 122);
}

a:visited {
    color:rgb(81, 24, 134);
}
